<h1>bienvenido {{name}}</h1>
<a href="/api/session/logout">LOGOUT</a>
<h1>Productos</h1> 
<div class="row">
{{#each products}}
<div class="col-sm">
<div class="card" style="width: 18rem;">
  <img src="{{this.thumbnails}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{this.title}}</h5>
    <p class="card-text">{{this.description}}</p>
    <p class="card-text">{{this.price}}</p>  
    <button class="btn btn-primary" onclick="addToCart('{{_id}}')">Agregar al carrito</button>   
    <button class="delete btn btn-danger">x</button>
  </div>
</div>
</div>
{{/each}}
</div>
